logs/*
!logs/.gitkeep
data/backups/*
!data/backups/.gitkeep
data/targets.json
data/logs/*
!data/logs/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
data/xshell/*
!data/xshell/.gitkeep

keys/*
!keys/.gitkeep
app/__pycache__/*
app/services/__pycache__/*
__pycache__/*